<div class="game flex">

    <div class="game-left-side flex">

        <div class="game-title">
            <div class="game-table-name font-size-40px">{{gameName}}</div>
            <div class="game-table-name font-size-5px">table ID {{tableId}}</div>
            <div class="game-title-filter flex">
                <div class="game-release">
                    <label>Release:</label>
                    <div class="inline-block">{{releaseName}}</div>
                </div>
                <div class="game-sprint margin-h--20px">
                    <label>Sprint:</label>
                    <div class="inline-block">{{sprintName}}</div>
                </div>
                <div class="game-team">
                    <label>Team:</label>
                    <div class="inline-block">{{teamName}}</div>
                </div>
            </div>
        </div>

        <div class="game-sub-title margin-v--20px font-size-20px">
            {{selectedUserstory.name}}
        </div>
        <div class="game-cards-votes-container flex">
            <div class="margin--10px" ng-repeat="card in cards">
                <card-drtv value="{{card.value}}" is-selected="card.isSelected" is-enable="card.isEnable" disable-other-cards-fn="disableOtherCards(selectedCard)"></card-drtv>
            </div>
        </div>
        <!--<div class="game-stories-list-container">-->
            <!--listttttttttt-->
        <!--</div>-->
        <div>
            <div>
                <input type="text" readonly class="form-control" value="{{selectedValue}}">
            </div>
            <button class="margin-v--20px" ng-click="updateStoryPoints()">Update Story point</button>
        </div>
    </div>

    <div class="game-right-side">
        <div class="players-container margin--20px">
            <div class="players-title text-align-center">Players</div>
            <div class="margin--5px">
                <div ng-repeat="player in players">
                    <player-drtv name="{{player.name}}" vote-value="player.voteValue" is-owner="player.isOwner"></player-drtv>
                </div>
            </div>
        </div>

        <button ng-click="addPlayer()">Add</button>

        <div class="buttons-container text-align-center margin-v--20px">
            <button type="button" class="btn btn-warning margin-r--50px" ng-click="skipUserstory()">Skip US
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-success" ng-click="finishVoting()">Finish Voting</button>
        </div>

        <div class="game-link-container">
            <div class="font-size-20px margin-v--5px">Invite a team mate to play</div>
            <div>
                <input type="text" class="form-control" readonly value="{{linkToGame}}">
            </div>
        </div>

    </div>
</div>