.game {
    flex-direction: row;
}

.game-left-side {
    flex: 2 0 0;
    flex-direction: column;
}

.game-title {


}

.game-table-name {

}

.game-title-filter {
    background-color: #cccccc;
}

.game-cards-votes-container {
    /*border: 1px solid black;*/
    flex-wrap: wrap;
    justify-content: center;
}

.game-right-side {
    flex: 1 0 0;
}

.players-container {
    margin-top: 100px;
    margin-bottom: 40px;
}

.players-title {
    font-size: 25px;
    background-color: lightblue;
    margin-bottom: 20px;
}