.game {
    flex-direction: row;
}

.game-left-side {
    flex: 2 0 0;
    flex-direction: column;
}

.game-title {
    margin: 15px 0px 15px 0px;
    display: inline-block;
    flex: 1;
}

.game-sub-title {
    border: 1px solid lightgray;

}
.game-upper-line{
    display: flex;
}
.game-link-container{
    display: inline-block;
}
.game-table-name {
}

.game-title-filter {
}

.game-cards-votes-container {
    /*border: 1px solid black;*/
    flex-wrap: wrap;
    justify-content: center;
}

.game-right-side {
    flex: 1 0 0;
}

.players-container {
    margin-top: 100px;
    margin-bottom: 40px;
}

.players-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.pocker-green-button {
    border: 1px solid #7ab829;
    background: transparent;
    margin-top: 15px;
    padding: 5px 15px;
}
.pocker-green-button:focus {
    outline-style: none;
}