<div class="modal-header">
    <h3 class="modal-title">Create new room</h3>
</div>
<div class="modal-body">
    <div>
        <input type="text" ng-model="roomName" class="form-control" placeholder="Enter room name">
    </div>

    <div>
        <div class="btn-group" uib-dropdown>
            <button type="button"
                    class="btn btn-primary" uib-dropdown-toggle>
                {{selectedCardsValue}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem" ng-repeat="choice in cardsValues">
                    <a ng-click="setChoice(choice)">{{choice}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <h4>Take user stories from:</h4>
    </div>
    <div class="form-group">
        <label>Release:</label>
        <div class="btn-group" uib-dropdown>
            <button type="button"
                    class="btn btn-primary" uib-dropdown-toggle>
                {{selectedRelease}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem" ng-repeat="release in releases">
                    <a ng-click="setRelease(release)">{{release}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="create()">Create</button>
</div>