
.octane-poker-planning {
	margin: 20px 200px;
}

.header {
	text-align: center;
}

.logo {
	width: 150px;
}

.header-title {
	font-size: 30px;
	vertical-align: middle;
}

.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	background-color: #eeeeee;
	height: 30px;
}

/*************************** global style ***************************/
/********** display ***********/
.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.table-cell {
	display: table-cell;
}

.text-align-center {
	text-align: center;
}

.vertical-align-middle {
	vertical-align: middle;
}

/********** width ************/
.width--70px {
	width: 70px;
}

/********** margin ***********/
.margin-v--5px {
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-h--10px {
	margin-left: 10px;
	margin-right: 10px;
}

.margin--10px {
	margin: 10px;
}

.margin-h--20px {
	margin-left: 20px;
	margin-right: 20px;
}

.margin-v--20px {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-b--20px {
	margin-bottom: 20px;
}

.margin--5px {
	margin: 5px;
}

.margin--20px {
	margin: 20px;
}

.margin-r--50px {
	margin-right: 50px;
}

.padding--4px {
	padding: 4px;
}

/********** font ***********/
.font-size-40px {
	font-size: 40px;
}

.font-size-20px {
	font-size: 20px;
}

/********** general ***********/
.cursor-pointer {
	cursor: pointer;
}

