.octane-poker-planning {
	margin: 0px 200px;
}

.header {
	text-align: center;
	background-color: #eeeeee;
	padding: 20px;
	position: relative;
}

.header-logo {
	position: absolute;
	left: 18px;
	margin-top: 12px;
}

.header-title {
	font-size: 29px;
}

.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	background-color: #eeeeee;
	height: 30px;
}

/*************************** global style ***************************/
button {
	background-color: white;
	border: 1px solid #86c186;
	padding: 5px 40px;
}

button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

input {
	border: none;
	border-bottom: 1px solid black;
}

input:focus {
	outline: none;
}

.dropdown button {
	background-color: white;
	border: none;
	border-bottom: 1px solid black;
	padding: 0px 10px;
}

ul.dropdown-menu {
	height: 300px;
	overflow-y: auto;
}

/********** position ***********/
.absolute {
	position: absolute;
}

.right--18px {
	right: 18px;
}

/********** display ***********/
.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.table-cell {
	display: table-cell;
}

.text-align-center {
	text-align: center;
}

.vertical-align-middle {
	vertical-align: middle;
}

/********** width ************/
.width--70px {
	width: 70px;
}

.width--400px {
	width: 400px;
}

/********** margin ***********/
.margin-v--5px {
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-v--10px {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-h--10px {
	margin-left: 10px;
	margin-right: 10px;
}

.margin--10px {
	margin: 10px;
}

.margin-h--20px {
	margin-left: 20px;
	margin-right: 20px;
}

.margin-v--20px {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-b--20px {
	margin-bottom: 20px;
}

.margin--5px {
	margin: 5px;
}

.margin--20px {
	margin: 20px;
}

.margin-r--50px {
	margin-right: 50px;
}

.padding--4px {
	padding: 4px;
}

/********** font ***********/
.font-size-40px {
	font-size: 40px;
}

.font-size-18px {
	font-size: 18px;
}
.font-size-20px {
	font-size: 20px;
}

.font-size-22px {
	font-size: 22px;
}

.ellipsis {
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

/********** general ***********/
.cursor-pointer {
	cursor: pointer;
}

