<div>
    <div class="font-size-40px">All Tables</div>

    <button type="button" class="btn btn-info" ng-click="OpenCreateTableModal()" ng-hide="!connected"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create table</button>

    <button type="button" class="btn btn-success" ng-click="connectToOctane()" ng-hide="connected"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>Connect</button>

    <div ng-if="hasUser" class="tables-table">
        <div class="table-row tables-table-header">
            <div class="table-row-item">Name</div>
            <div class="table-row-item"># of players</div>
            <div class="table-row-item">Creation Time</div>
            <div class="table-row-item">Status</div>
        </div>
        <div class="tables-table-content">
            <div class="table-row" ng-repeat="table in tables">
                <div class="table-row-item table-name">{{table.name}}</div>
                <div class="table-row-item">{{table.numberOfPlayers}}</div>
                <div class="table-row-item">{{table.creationTime | date}}</div>
                <div class="table-row-item status-cell" ng-class="{'active': table.status === 'active', 'not-active': table.status === 'not active'}">{{table.status}}
                    <button ng-if="table.status === 'active'" type="button" class="btn btn bg-primary btn-xs" ng-click="OpenJoinTableModal(table.id)" title="Join to this table">Join</button>
                    <span class="glyphicon glyphicon-remove remove-button" aria-hidden="true" ng-click="delete(table.id)" title="Delete table"></span>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!hasUser" class="margin-v--20px">
        <p>You are not an owner of any table.</p>
        <p>You can create a new table or join to exist table by direct link.</p>
    </div>

</div>