.card {
    width: 88px;
    height: 116px;
    border: 1px solid #d19c24;
    border-radius: 20px;
    background-color: #fbf6e9;
}

.card:hover {
    background-color: #bfd5ea;
}

.card-value {
    font-size: 28px;
    padding-top: 15px;
}

.card-selected {
    background-color: #a6e1ec;
}
.card-image {
    width: 20px;
    height: 20px;
    margin: 10px;
}
/*.card-disabled {*/
    /*opacity: 0.5;*/
    /*cursor: not-allowed;*/
/*}*/